@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", serif;
}

.font-bubble {
  font-family: "Bubblegum Sans", cursive;
}

.font-jost {
  font-family: "Jost", sans-serif;
}

.max-width-1280 {
  max-width: 1280px;
  margin: auto;
}

.btn {
  position: relative;
  z-index: 10;
  transition: all 0.5s;
  overflow: hidden;
  border-color: rgb(229 231 235);
}
.btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  border-radius: 6px;
  z-index: -1;
}

.btn:hover::after {
  width: 100%;
}

.header-menu {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.submenu {
  transform: translateY(20px);
}

.list-menu .item:hover .submenu {
  transform: translateY(0);
}

.subitem {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.submenu {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.animate-left-right {
  animation: left-right 4s linear infinite;
}

@keyframes left-right {
  50% {
    transform: translateX(-30px);
  }
}

.animate-up-down {
  animation: up-down 2s linear infinite;
}

@keyframes up-down {
  50% {
    transform: translateY(-10px);
  }
}

.animate-skwe {
  animation: skew 2s linear infinite;
}

@keyframes skew {
  50% {
    transform: skewX(5deg);
  }
}

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
